* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.light{
    background-color: aliceblue;
    color: #000;
}

.dark{
    background-color: #000;
    color: #fff;
}

.temas {
    width: 25%;
    height: 30px;
    align-self: center;
    background-color: transparent;
    border: 1px solid #a0a0a0;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    text-align: center;
}

hr {
    font-weight: bold;
    height: 3px;
    background-color: black;
    margin-bottom: 10px;
}

.pontos__descri{
    text-align: center;
    margin: 10px;
    letter-spacing: 3px;
}

.jogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.jogo__button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background-color: transparent;
    border: 1px solid #858383;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.score-x, .score-o {
    font-size: 20px;
}

.reset {
    margin-top: 10px;
}
